@import '~antd/es/style/themes/default.less';

.pro-table {
  :global {
    .ant-table-container {
      height: 100%;
      .ant-table-body {
        width: 100%;
        height: calc(100% - 47px);
        overflow: auto;
      }
    }
  }
}
